<%- include('header') -%>
  <div id="magicBeans">

    <section id="content">
      <h2>1st Content Area</h2>
      <p>bean</p>
    </section>

    <section id="middle">
      <h2>2nd Content Area</h2>
      <p>bean 1</p>
    </section>

    <aside id="sidebar">
      <h2>3rd Content Area</h2>
      <p>bean 2</p>
    </aside>

  </div>



<%- include('footer') -%>
