<script type="text/javascript">
  window.initialData = <%- JSON.stringify(initialData) -%>
</script>


<%- include('header') -%>
  <div id="magicBeans">

    <section id="content">
      <%- initialBeanList -%>
    </section>


  </div>



<%- include('footer') -%>
